<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.mapper.UserMapper"> 
   <insert id="insertUser">
      insert into user values(#{userNo}, #{deptNo}, #{id}, #{password}, #{name}, #{email}, #{registerDate}, #{profile});
   </insert>
   
</mapper>